#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.home-page,
.about-page,
.leader-page,
.end-page,
.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.877);
  border-radius: 10px;
  padding: 1em;
}

.end-page button:disabled {
  background-color: grey;
  color: black;
}

.home-page label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em 0 1em;
}

.about-page button {
  margin-bottom: 3em;
}

.home-page select {
  height: 2.5em;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.home-page a {
  margin-bottom: 1em;
}

.about-page a:link {
  color: rgb(255, 255, 255);
}

.about-page a:visited {
  color: rgb(255, 255, 255);
}

.about-page a:hover {
  color: rgb(47, 204, 196);
}

.about-page a:active {
  color: rgb(255, 255, 255);
}

.not-hard-mode {
  margin-bottom: 1em;
}

.red {
  color: red;
}

.blue {
  color: rgb(47, 204, 196);
}

.correct-timer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
  font-size: .9em;
}

#answer-button-container {
  display: flex;
  flex-direction: column; /* Three equal-width columns */
  gap: 10px; /* Adjust the gap between buttons as needed */
}

#answer-button {
  width: 100%;
}

#start-button, #leader-button, #end-home-button, #submit-button {
  width: 150px;
  margin-bottom: 1.5em;
}

#name-input {
  height: 2em;
}

#quit-button {
  margin: 1em 0 1em;
  color: rgb(194, 16, 16);
  width: 150px;
}

#quit-button:hover {
  color: white;
}

.feedback {
  margin-top: 1em;
  min-height: 50px;
}
